<script>
const locale = {
  optional: '可选',
  placeholder: '(已支持匿名评论)——遗憾莫过于难忘你的背影，却找不到你来过的痕迹 ...',
  sofa: '来发评论吧~',
  reply: '回复',
  admin: '社长',
  sticky: '置顶',
  word: '字',
  wordHint: '评论字数应在 $0 到 $1 字之间！\n当前字数：$2',
  anonymous: '观察员',
  level0: '原始社会',
  level1: '奴隶社会',
  level2: '封建社会',
  level3: '资本主义社会',
  level4: '社会主义社会',
  level5: '共产主义社会',
  profile: '个人资料',
  approved: '通过',
  waiting: '待审核',
  spam: '垃圾',
  unsticky: '取消置顶',
  oldest: '按倒序',
  latest: '按正序',
  hottest: '按热度',
  reactionTitle: '你认为这篇文章怎么样？',
};

  function load_comment(){
    if(!document.getElementById("waline_container"))return;
    stellar.loadCSS('<%- theme.comments.waline.css %>');
    stellar.loadScript('<%- theme.comments.waline.js %>', {defer:true}).then(function () {
      const el = document.getElementById("waline_container");
      var path = el.getAttribute('comment_id');
      if (!path) {
        path = decodeURI(window.location.pathname);
      }
      Waline.init(Object.assign(<%- JSON.stringify(theme.comments.waline) %>, {
        el: '#waline_container',
        path: path,
		lang: 'zh-CN',
		reaction: true,
		locale,
        <% if(!!theme.comments.waline.imageUploader?.api){ %>
          imageUploader: function(file) {
            let headers = new Headers();
            headers.set('Accept', 'application/json');
            <% if(!!theme.comments.waline.imageUploader?.token) { %>
              headers.set('<%= theme.comments.waline.imageUploader?.tokenName %>', '<%= theme.comments.waline.imageUploader?.token %>')
            <% } %>
            let formData = new FormData();
            formData.append('<%= theme.comments.waline.imageUploader?.fileName %>', file);
            return fetch('<%= theme.comments.waline.imageUploader?.api %>',{
              method: 'POST',
              body: formData,
              headers: headers
              }).then((resp) => resp.json())
                .then((resp) => resp.<%= theme.comments.waline.imageUploader?.resp %>)
          },
        <% } %>
      }));
    });
  }
  window.addEventListener('DOMContentLoaded', (event) => {
    console.log('DOM fully loaded and parsed');
    load_comment();
  });

</script>
